
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Preview</title>
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css"/>
    @Styles.Render("~/Content/css")
</head>
<body>
<div>
    <h1 class="text"><i><small><a href="/Home/Index">BookStore</a></small>-<a href="/Home/PreviewAsync/@ViewBag.Book.BookId">Preview</a></i></h1>
    <table class="filter">
        <tr>
            <td width="225" align="left">
                <p><i><u>Author:</u></i> @ViewBag.Book.Authors</p></td>
        </tr>
        <tr>
            <td width="225" align="left">
                <p><i><u>Book title:</u></i> @ViewBag.Book.Name</p></td>
        </tr>
        <tr>
            <td width="225" align="left">
                <p><i><u>Content:</u></i></p></td>
        </tr>
        <tr>
            <td width="225" align="left">
                <p>@Html.Raw(ViewBag.Preview)</p>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
