
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Preview</title>
    <meta name="viewport" content="width=device-width"/>
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css"/>
</head>
<body>
<div>
    <h1 class="text"><i>Preview</i></h1>
    <table>
        <tr>
            <td width="225" align="center">
                <p>Author:</p></td>
        </tr>
        <tr>
            <td width="225" align="center">
                <p>Book title: </p></td>
        </tr>
        <tr>
            <td width="225" align="center">
                <p>Content:</p></td>
        </tr>
        <tr>
            <td width="225" align="center">
                <p>Content</p></td>
        </tr>
    </table>

</div>
</body>
</html>
