.text{
    margin: 1em auto auto;
    width: 85%;
}
table.filter {
    margin: 0.3em auto 0.5em;
    width: 90%;
}
.filterInput{
    margin: 0;
    width: 98%;
}
table.data {
    border-collapse: collapse;
    margin: 0.3em auto 0.5em;
    width: 90%;
}
.data td, .data th {
    border: 1px solid #333;
    padding: 4px;
}
th {
    background: #bfbfbf;
    font-size: 0.9em;
}
